.about{
    display: flex;
    justify-content: center; 
    height: 90vh;
    align-items: center; 
    flex-direction: row;
    font-size: 3vh;
    padding: 50px;
}

.h2about {
    display: flex;
    justify-content: center;
    align-items: center;
}