.product-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 3rem;
    padding-bottom: 3rem;

}

.product-image {
    max-height: 15rem;
    margin-bottom: 1rem;
}

.product-name {
    font-weight: 200px;
    font-size: 30px;
    padding: 1rem, 0, 1rem, 0;
}

.product-description {
    font-size: 16px;
    padding-top: 1rem;
}
.product-price {
    font-size: 20px;
}

.stock {
    font-size: 14px;
    color: rgb(90, 19, 19);
    font-weight: bold;
}

.add-to-cart {
        background-image: linear-gradient(
          45deg,
          rgb(103, 116, 115) 0%,
          rgb(6, 6, 6) 100%
        );
        border: 1px solid;
        color: #fff;
        padding: 10px;
        border-radius: 8px;
        cursor: pointer;
}

.back-to-products {
    font-size: 12px;
    margin-left: 1rem;
        background-image: linear-gradient(
          45deg,
          rgb(103, 116, 115) 0%,
          rgb(6, 6, 6) 100%
        );
        border: 1px solid;
        color: #fff;
        padding: 10px;
        border-radius: 8px;
        cursor: pointer;
}

