.navbar {
  width: 100%;
  height: 90px;
  top: 0;
  left: 0;
  background-color: rgb(40, 64, 49);
  border-bottom: 1px solid black;
}

.navbar .container {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  color: white;
}


.navbar span {
  color: rgb(174, 151, 151);
}

.navbar .nav-menu {
  display: flex;
  color: white;
}

.navbar li {
  padding: 1rem;
}

.ham {
  display: none;
}

.navbar .icon {
  font-size: 1.5rem;
}

@media screen and (max-width: 768px) {
  .ham {
    display: block;
  }

  .navbar .nav-menu {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 90px;
    right: -100%;
    height: 100%;
    width: 100%;
    background: rgb(40, 64, 49);
    transition: 0.4s ease-in-out;
    z-index: 10;
  }

  .navbar .active {
    right: 0;
  }

  .navbar .nav-menu li a {
    font-size: 2rem;
    color: white;
  }
}