.about{
    display: flex;
    justify-content: center; 
    align-items: center; 
    flex-direction: row;
    font-size: 3vh;
    
}

h2{
    display: flex;  
    justify-content: center;
    
}
